/eclipse
/bin
/.gradle
/.classpath
/CREDITS-fml.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/forge-1.7.10-10.13.0.1180-changelog.txt
/.settings/org.eclipse.jdt.core.prefs
/logs
/saves/New World/DIM-1/data
/saves/New World/DIM-1
/saves
/options.txt
/config/forge.cfg
/config/forgeChunkLoading.cfg
/crash-reports
